@import 'functions';
@import 'silent-classes';
@import 'colors';
@import 'settings';

/*---------------------------------------------------------------------------*\
    Main
\*---------------------------------------------------------------------------*/
// 1. Ensure the page always fills at least the entire height of the viewport.
// 2. Set the global `box-sizing` state to `border-box`.
// 3. Prevent adjustments of font size after orientation changes in iOS.
html {
  @extend %body-font-family;
  min-height: 100%; /* [1] */
  box-sizing: border-box; /* [2] */
  -webkit-text-size-adjust: 100%; /* [3] */
  font-size: 100%;
  line-height: $p-line-rem;
  color: $grey-200;
  background: $white;
  &.dark-mode {
    color: $grey-1200;
    background: $black;
  }
}
*, *:before, *:after {
  box-sizing: inherit; /* [2] */
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
  background: $grey-1200;
  .dark-mode & {
    background-color: $grey-300;
  }
}
main {
  display: block;// Render the `main` element consistently in IE.
}

@import 'base/images';
@import 'base/typography';
@import 'base/tables';

@import 'components/flexbox';
@import 'components/buttons';
@import 'components/header';
//@import 'components/api-check';// Masel says API check is redundant now.
@import 'components/top-bar';
@import 'components/navigation';
@import 'components/feature-section';
@import 'components/vertical-align';
@import 'components/tooltips';
@import 'components/hr';

.sr-only {
  position: absolute !important;
  margin: -1px !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  font-size: 0 !important;
  line-height: 0 !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  border: 0 !important;
}

a, button {
  cursor: pointer;
}

.page {
  position: relative;
  margin-top: $nav-height;
}
.page-width {
  position: relative;
  margin: 0 auto;
  max-width: $page-width;
}
.page-padding {
  padding-left: ($gutter-px * .5);
  padding-right: ($gutter-px * .5);
  @include media-query('gt-mobile') {
    padding-left: $gutter-px;
    padding-right: $gutter-px;
  }
}