html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  position: relative;
  min-height: 100%; }

body {
  margin: 0 auto;
  padding: 0;
  font-size: 1.6em;
  line-height: 1.15;
  margin-bottom: 3rem; }

.hidden {
  display: none; }

hr {
  width: 85%;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1rem;
  margin-bottom: 1rem; }

.header-img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto; }

nav {
  position: sticky;
  top: 0;
  z-index: 1020;
  ul {
    font-size: 1.05em;
    text-align: center;
    list-style-type: none;
    margin: 0px auto;
    padding: 1rem;
    overflow: hidden;
    background-color: #343A40; }
  li {
    display: inline; }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 1.2rem; }
  a:hover {
    color: white; }
  .active a {
    color: white; }
  }

#apicheck {
  text-align: right;
  margin: 2px 2px 0px 0px; }

.headline, #index h1, #commands h1, #commands h3, #faq h1, #faq h2 {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1.5rem; }

#paypal {
  text-align: center; }

#footer-lg {
  display: none; }

footer {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #343A40;
  p {
    text-align: center;
    color: white;
    font-size: 11px;
    line-height: 0.5px;
    margin-top: 15px; }
  a {
    text-decoration: none;
    color: #1895a8; }
  }

#index {
  text-align: center;
  #button {
    display: inline-block;
    margin-bottom: 5px;
    padding: 1.2rem 1.5rem;
    transition: 0.5s;
    background-color: #dc3545;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color: #fff; }
  #button:hover {
    transition: 0.5s;
    background-color: #c82333; }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.25rem; }
  }

#commands {
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  text-align: center;
  small {
    display: block; }
  small#com-exp {
    font-style: italic; }
  h1 {
    font-size: 2.5em; }
  h3 {
    margin-bottom: 1rem;
    font-size: 1.5em; }
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    p {
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 0.5rem; }
    }
  .col-1 {
    grid-column: 1;
    grid-row: 1; }
  .list-group {
    padding: 0;
    margin-bottom: 0; }
  ul {
    margin-top: 0; }
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff; }
  .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .border {
    border: 1px solid #dc3545; }
  button {
    font-size: 1.5em;
    text-align: center;
    padding: 0.4rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #343a40;
    border-radius: 0.3rem;
    line-height: 1.2;
    background-color: white;
    color: black;
    white-space: nowrap;
    transition: all 0.15s ease-in-out }
  .active, button:hover {
    background-color: #343a40;
    color: white;
    cursor: pointer }
  }

#faq {
  margin: auto;
  text-align: center;
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 2em; }
  p {
    line-height: 1.4;
    padding-left: 5%;
    padding-right: 5%; }
  a {
    text-decoration: none;
    color: #1895a8; }
  ul {
    list-style: none;
    line-height: 1.8em;
  }
  code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 1.5rem;
    padding: 2px;
    background: #e3e3e3;
    border-radius: 3px;
  }
}

@media (max-width: 320px) {
  nav ul {
    font-size: 0.9em; } }
@media (min-width: 935px) {
  body {
    margin-bottom: 5rem; }

  #footer-lg {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #343A40; }

  footer {
    display: none; } }
@media (min-width: 1024px) {
  #index h1 {
    font-size: 3em; }

  #commands .wrapper {
    grid-template-columns: repeat(2, 1fr); }
  #commands .col-2 {
    grid-column: 2;
    grid-row: 1; } }
