/*---------------------------------------------------------------------------*\
    Feature Media
\*---------------------------------------------------------------------------*/
.feature-media {
  position: relative;
  height: 100vh;
  height: calc(100vh - $nav-height);
  min-height: 480px;
  overflow: hidden;
  &.january,&.february {background: #847270}
  &.march {background: #9b9795}
  &.april {background: #727665}
  &.may {background: #967d5c}
  &.june {background: #685b50}
  &.july {background: #7f6857}
  &.august,&.september {background: #928167}
  &.october {background: #513927}
  &.november {background: #65493c}
  &.december {background: #878175}
}
.feature-media__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-media__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &:before {
    @extend %psuedo-element;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($black,.15);
  }
}
.feature-title {
  font-size: $xl-font-rem;
  line-height: $xl-line-rem;
  color: $white;
  text-shadow: 0 5px 15px $black,
               0 10px 30px rgba($black,.5),
               0 20px 60px rgba($black,.25),
               0 40px 120px rgba($black,.125);
}
.feature-button {
  margin: 60px 0 0 0;
  box-shadow: 0 5px 15px rgba($black,.6),
              0 10px 30px rgba($black,.3),
              0 20px 60px rgba($black,.15),
              0 40px 120px rgba($black,.075);
}