@import 'config';

html {
  font-family:'Open Sans', sans-serif;
  font-size: 10px;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 1.6em;
  line-height: 1.15;
  margin-bottom: 3rem;
  background-color: $primaryColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: $tertiaryColor;
}
span {
  color:$tertiaryColor;
}

.headline {
  margin-bottom: 25px;
}

.hidden {
  display: none;
}

.index {
  text-align: center;

  .button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 1.2rem 1.5rem;
    transition: 0.5s;
    background-color: $secondaryColor;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color: $tertiaryColor;

    &:hover {
      transition: 0.5s;
      background-color: darken($secondaryColor, 10%);
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto 40px auto;
    border-radius: 0.25rem;
  }
}

// TODO: Use border instead
hr {
  width: 85%;
  border: 0;
  border-top: 1px solid rgba(100, 0, 0, 0);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.commands,
.faq {
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  text-align: center;

  small {
    display: block;
    color: $tertiaryColor;
  }

  h1 {
    font-size: 2.5em;
  }

  h3 {
    margin-bottom: 1rem;
    font-size: 1.5em;
  }

  // p, li{
  //   color: $tertiaryColor;
  // }

  .wrapper {
    .list-group {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr;

      .list-group-item {
        display: block;
        padding: 0.75rem 0;
        grid-column: 1;
      }
    }
  }
}

.titles {
  text-decoration: underline;
}

@media (max-width: 320px) {
  nav ul {
    font-size: 0.9em;
  }
}

@media (min-width: 935px) {
  body {
    margin-bottom: 5rem;
  }
}

@media (min-width: 1024px) {
  .index h1 {
    font-size: 3em;
  }

  .commands .wrapper,
  .faq .wrapper {
    li {
      &:after {
        width: 350px;
      }
    }

    .list-group {
      grid-template-columns: repeat(2, 1fr);

      .list-group-item {
        grid-column: 1;

        &:nth-child(2n) {
          grid-column: 2;
        }
      }
    }
  }
}
