{% extends "layout.html" %}

{% set active_page = "Commands" %}

{% import "command_args.html" as cmd %}

{% block body %}

<div class="container text-center">
  <hr>
  <h3>The default prefix is $</h3>
  <small class="font-italic">Use commands with multiple options with a space in between: $key add</small>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        {{ cmd.main("account", "Information about your account") }}
        {{ cmd.main("achievementinfo", "Display achievement information and your completion status")}}
        {{ cmd.main("bosses", "Lists all the bosses you haven't killed this week") }}

        {{ cmd.main_expand("botnews", "Automatically sends news about new features", "collapseBotnews", cmd.botnewsArgs) }}

        {{ cmd.main("cats", "Displays cats you haven't collected") }}
        {{ cmd.main("changelog", "List of recent changes to the bot") }}

        {{ cmd.main_expand("character", "Character related commands", "collapseCharacter", cmd.characterArgs) }}

        {{ cmd.main("chatcode", "Generate a chat code") }}

        {{ cmd.main_expand("daily", "Commands showing daily things", "collapseDaily", cmd.dailyArgs) }}

        {{ cmd.main("dulfy", "Search dulfy.net") }}
        {{ cmd.main("et", "The event timer, Shows upcoming world bosses") }}

        {{ cmd.main_expand("gem", "Commands related to gems", "collapseGem", cmd.gemArgs) }}

        {{ cmd.main_expand("guild", "Guild related commands", "collapseGuild", cmd.guildArgs) }}

        {{ cmd.main_expand("guildsync", "Guild synchronization related commands", "collapseGuildsync", cmd.guildsyncArgs) }}

       </ul>
    </div>
    <div class="col">
      <ul class="list-group">

        {{ cmd.main("gw2wiki", "Search the Guild Wars 2 wiki") }}
        {{ cmd.main("hotet", "The HoT event timer. Shows phases of HoT maps") }}

        {{ cmd.main_expand("key", "Commands related to API keys", "collapseKey", cmd.keyArgs) }}

        {{ cmd.main("prefix", "Sets bot's prefixes for this server") }}

        {{ cmd.main_expand("pvp", "Commands related to PvP", "collapsePvp", cmd.pvpArgs) }}

        {{ cmd.main("search", "Search your account for items") }}

        {{ cmd.main_expand("server", "Commands for server management", "collapseServer", cmd.serverArgs) }}

        {{ cmd.main("skillinfo", "Information about a given skill") }}

        {{ cmd.main_expand("tp", "Commands related to Trading Post", "collapseTp", cmd.tpArgs ) }}

        {{ cmd.main_expand("wallet", "Commands related to wallet", "collapseWallet", cmd.walletArgs) }}

        {{ cmd.main_expand("wvw", "Commands related to wvw", "collapseWvw", cmd.wvwArgs) }}

        {{ cmd.main("li", "Shows how many Legendary Insights you have") }}
        {{ cmd.main("help", "Shows the commands menu") }}

      </ul>
    </div>
  </div>
  <hr>
  <h3>Notifiers</h3>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        {{ cmd.main_expand("bossnotifier", "Sends the next two bosses every 15 minutes to a channel",
         "collapseBossnotifier", cmd.bossnotifierArgs) }}

         {{ cmd.main_expand("dailynotifier", "Sends a list of dailies to specified channel",
          "collapseDailynotifier", cmd.dailynotifierArgs ) }}

      </ul>
    </div>
    <div class="col">
      <ul class="list-group">

        {{ cmd.main_expand("updatenotifier", "For setting up notifcations whenever the game updates",
         "collapseUpdatenotifier", cmd.updatenotifierArgs) }}

        {{ cmd.main_expand("newsfeed", "For setting up automatic guildwars2.com news feed", "collapseNewsfeed", cmd.newsfeedArgs) }}

      </ul>
    </div>
  </div>
  <hr>
  <h3>Meta & Stats</h3>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        {{ cmd.main("info", "Display bot's info") }}
        {{ cmd.main("ping", "Pong!") }}
        {{ cmd.main("uptime", "Display bot's uptime") }}

      </ul>
    </div>
  </div>
</div>

{% endblock %}
