{% extends "layout.html"%}

{% set active_page = "Commands" %}

{% block body %}

<div class="container text-center">
  <hr>
  <h3>The default prefix is $</h3>
  <small class="font-italic">Use commands with multiple options with a space in between: $key add</small>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        <li class="list-group-item border border-danger">
          <h4>account</h4>
          <small>Information about your account</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4>achievementinfo</h4>
          <small>Display achievement information and your completion status</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4>bosses</h4>
          <small>Lists all the bosses you haven't killed this week</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseBotnews" aria-expanded="false" aria-controls="collapseBotnews">botnews</a></h4>
          <small>Automatically sends news about new features</small>
          <div class="collapse" id="collapseBotnews">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">channel</p>
            <small>Sets the channel to send bot news to</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">toggle</p>
            <small>Toggles posting bot news</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
          <h4>cats</h4>
          <small>Displays cats you haven't collected</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4>changelog</h4>
          <small>List of recent changes to the bot</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseCharacter" aria-expanded="false" aria-controls="collapseCharacter">character</a></h4>
          <small>Character related commands</small>
          <div class="collapse" id="collapseCharacter">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">birthdays</p>
            <small>Lists days until each of your character's birthdays</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">build</p>
            <small>Displays the build of given character</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">gear</p>
            <small>Displays the gear of given character</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">info</p>
            <small>Info about the given character</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">list</p>
            <small>Lists all your characters</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">pvpbuild</p>
            <small>Displays the build of given character</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">togglepublic</p>
            <small>Toggle your character's status to public</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">wvwbuild</p>
            <small>Displays the build of given character</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
          <h4>chatcode</h4>
          <small>Generate a chat code</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseDaily" aria-expanded="false" aria-controls="collapseDaily">daily</a></h4>
          <small>Commands showing daily things</small>
          <div class="collapse" id="collapseDaily">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">all</p>
            <small>Show today's all dailies</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">fractal</p>
            <small>Show today's fractal dailies</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">psna</p>
            <small>Show today's Pact Supply Network Agent locations</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">pve</p>
            <small>Show today's PvE dailies</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">pvp</p>
            <small>Show today's PvP dailies</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">wvw</p>
            <small>Show today's WvW dailies</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
          <h4>dulfy</h4>
          <small>Search dulfy.net</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4>et</h4>
          <small>The event timer. Shows upcoming world bosses</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseGem" aria-expanded="false" aria-controls="collapseGem">gem</a></h4>
          <small>Commands related to gems</small>
          <div class="collapse" id="collapseGem">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">price</p>
            <small>Lists current gold/gem exchange prices</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">track</p>
            <small>Receive a notification when cost of 400 gems drops below the specified cost</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseGuild" aria-expanded="false" aria-controls="collapseGuild">guild</a></h4>
          <small>Guild related commands</small>
          <div class="collapse" id="collapseGuild">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">info</p>
            <small>Information about general guild stats</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">members</p>
            <small>Get list of all members and their ranks</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">treasury</p>
            <small>Get list of current and needed items for upgrades</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseGuildsync" aria-expanded="false" aria-controls="collapseGuildsync">guildsync</a></h4>
          <small>Guild synchronization related commands.</small>
          <div class="collapse" id="collapseGuildsync">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">clear</p>
            <small>Wipes settings and created roles and turns sync off</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">now</p>
            <small>Force a synchronization, also deletes or creates new ranks as needed</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">setup</p>
            <small>Setup process for ingame roster to discord member list synchronization</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">toggle</p>
            <small>Toggles synchronization on/off - does not wipe settings</small>
          </div>
        </li>

       </ul>
    </div>
    <div class="col">
      <ul class="list-group">

        <li class="list-group-item border border-danger">
          <h4>gw2wiki</h4>
          <small>Search the Guild Wars 2 wiki</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4>hotet</h4>
          <small>The HoT event timer. Shows phases of HoT maps</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseKey" aria-expanded="false" aria-controls="collapseKey">key</a></h4>
          <small>Commands related to API keys</small>
          <div class="collapse" id="collapseKey">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">add</p>
            <small>Adds your key and associates it with your discord account</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">info</p>
            <small>Information about your API key</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">remove</p>
            <small>Removes your key from the list</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
          <h4>prefix</h4>
          <small>Sets bot's prefixes for this server</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapsePvp" aria-expanded="false" aria-controls="collapsePvp">pvp</a></h4>
          <small>Commands related to PvP</small>
          <div class="collapse" id="collapsePvp">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">professions</p>
            <small>Information about your pvp profession stats</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">stats</p>
            <small>Information about your general PvP stats</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4>search</h4>
          <small>Search your account for items</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseServer" aria-expanded="false" aria-controls="collapseServer">server</a></h4>
          <small>Commands for server management</small>
          <div class="collapse" id="collapseServer">
          <hr class="m-1">
            <p class="font-weight-bold m-1">forceaccountnames</p>
            <small>Automatically change nicknames to in-game names</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4>skillinfo</h4>
          <small>Information about a given skill</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseTp" aria-expanded="false" aria-controls="collapseTp">tp</a></h4>
          <small>Commands related to Trading Post</small>
          <div class="collapse" id="collapseTp">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">current</p>
            <small>Show current selling/buying transactions</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">price</p>
            <small>Checks price of an item</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseWallet" aria-expanded="false" aria-controls="collapseWallet">wallet</a></h4>
          <small class="mb-1">Commands related to wallet</small>
          <div class="collapse" id="collapseWallet">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">currencies</p>
            <small>Returns a list of all currencies</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">currency</p>
            <small>Info about a currency. See [p]wallet currencies for list</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">maps</p>
            <small>Shows map-specific currencies</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">show</p>
            <small>Shows most important currencies in your wallet</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">tokens</p>
            <small>Shows instance-specific currencies</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseWvw" aria-expanded="false" aria-controls="collapseWvw">wvw</a></h4>
          <small>Commands related to WvW</small>
          <div class="collapse" id="collapseWvw">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">info</p>
            <small>Info about a world. If none is provided, defaults to account's world</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">worlds</p>
            <small>List all worlds</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">populationtrack</p>
            <small>Receive a notification when the world is no longer full</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
          <h4>li</h4>
          <small>Shows how many Legendary Insights you have</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4>help</h4>
          <small>Shows the commands menu</small>
        </li>

      </ul>
    </div>
  </div>
  <hr>
  <h3>Notifiers</h3>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseBossnotifier" aria-expanded="false" aria-controls="collapseBossnotifier">bossnotifier</a></h4>
          <small>Sends the next two bosses every 15 minutes to a channel</small>
          <div class="collapse" id="collapseBossnotifier">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">channel</p>
            <small>Sets the channel to send the bosses to</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">toggle</p>
            <small>Toggles posting upcoming bosses</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
            <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseDailynotifier" aria-expanded="false" aria-controls="collapseDailynotifier">dailynotifier</a></h4>
            <small class="mb-1">Sends a list of dailies to specified channel</small>
            <div class="collapse" id="collapseDailynotifier">
            <hr class="m-1">
              <p class="font-weight-bold mb-1">channel</p>
              <small>Sets the channel to send the dailies to</small>
            <hr class="m-1">
              <p class="font-weight-bold mb-1">toggle</p>
              <small>Toggles posting dailies at server reset</small>
            <hr class="m-1">
              <p class="font-weight-bold mb-1">autodelete</p>
              <small>Toggles autodeleting last day's daily notification</small>
            <hr class="m-1">
              <p class="font-weight-bold mb-1">autopin</p>
              <small>Toggles autopinning daily notifications</small>
            <hr class="m-1">
              <p class="font-weight-bold mb-1">categories</p>
              <small>Choose which categories to display on daily notifications</small>
            </div>
          </li>

      </ul>
    </div>
    <div class="col">
      <ul class="list-group">

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseUpdatenotifier" aria-expanded="false" aria-controls="collapseUpdatenotifier">updatenotifier</a></h4>
          <small class="mb-1">For setting up notifcations whenever the game updates</small>
          <div class="collapse" id="collapseUpdatenotifier">
        <hr class="m-1">
          <p class="font-weight-bold mb-1">channel</p>
          <small>Sets the channel to send the update announcement</small>
        <hr class="m-1">
          <p class="font-weight-bold mb-1">toggle</p>
          <small>Toggles sending game update notifications</small>
          </div>
        </li>

        <li class="list-group-item border border-danger">
          <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
            href="#collapseNewsfeed" aria-expanded="false" aria-controls="collapseNewsfeed">newsfeed</a></h4>
          <small class="mb-1">For setting up automatic guildwars2.com news feed</small>
          <div class="collapse" id="collapseNewsfeed">
          <hr class="m-1">
            <p class="font-weight-bold mb-1">channel</p>
            <small>Sets the channel to send the news to</small>
          <hr class="m-1">
            <p class="font-weight-bold mb-1">toggle</p>
            <small>Toggles posting news</small>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <hr>
  <h3>Meta & Stats</h3>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        <li class="list-group-item border border-danger">
          <h4>info</h4>
          <small>Display bot info</small>
        </li>

        <li class="list-group-item border border-danger">
          <h4>ping</h4>
          <small>Pong!</small>
        </li>

      </ul>
    </div>
    <div class="col">
      <ul class="list-group">

        <li class="list-group-item border border-danger">
          <h4>uptime</h4>
          <small>Display bot's uptime</small>
        </li>

      </ul>
    </div>
  </div>
</div>

{% endblock %}
