{% extends "layout.html"%}

{% set active_page = "Commands" %}

{% block body %}

{% set botnewsArgs = [
  ("channel", "Sets the channel to send bot news to"),
  ("toggle", "Toggles posting bot news")
] -%}

{% set characterArgs = [
  ("birthdays", "Lists days until each of your character's birthdays"),
  ("crafting", "Displays your characters and their crafting level"),
  ("build", ">Displays the build of given character"),
  ("gear", "Displays the gear of given character"),
  ("info", "Info about the given character"),
  ("list", "Lists all your characters"),
  ("pvpbuild", "Displays the build of given character"),
  ("togglepublic", "Toggle your character's status to public"),
  ("wvwbuild", "Displays the build of given character")
] -%}

{% set dailyArgs = [
  ("all", "Show today's all dailies"),
  ("fractal", "Show today's all fractal dailies"),
  ("psna", "Show today's Pact Supply Network Agent locations"),
  ("pve", "Show today's PvE dailies"),
  ("pvp", "Show today's PvP dailies"),
  ("wvw", "Show today's WvW dailies")
] -%}

{% set gemArgs = [
  ("price", "Lists current gold/gem exchange prices"),
  ("track", "Recive a notification when cost of 400 gems drops below the specified cost")
] -%}

{% set guildArgs = [
  ("default", "Set your preferred guild for guild commands on current Discord Server"),
  ("info", "Information about general guild stats"),
  ("log", "Get log of last 20 entries of stash"),
  ("members", "Get list of all members and their ranks"),
  ("treasury", "Get list of current and needed items for upgrades")
] -%}

{% set guildsyncArgs = [
  ("clear", "Wipes settings and created roles and turns sync off"),
  ("now", "Force a synchronization, also deletes or creates new ranks as needed"),
  ("setup", "Setup process for ingame roster to discord member list synchronization"),
  ("toggle", "Toggles synchronization on/off - does not wipe settings")
] -%}

{% set keyArgs = [
  ("add", "Adds your key and associates it with your discord account"),
  ("info", "Information about your API key"),
  ("remove", "Removes your key from the list"),
  ("switch", "Swaps between multiple stored API keys")
] -%}

{% set pvpArgs = [
  ("professions", "Information about your pvp profession stats"),
  ("stats", "Information about your general PvP stats")
] -%}

{% set serverArgs = [
  ("forceaccountnames", "Automatically change nicknames to in-game names")
] -%}

{% set tpArgs = [
  ("current", "Show current selling/buying transactions"),
  ("delivery", "Show your items awaiting in delivery box"),
  ("price", "Checks price of an item")
] -%}

{% set walletArgs = [
  ("currencies", "Returns a list of all currencies"),
  ("currency", "Info about a currency. See [p]wallet currencies for list"),
  ("maps", "Shows map-specific currencies"),
  ("show", "Shows most important currencies in your wallet"),
  ("tokens", "Shows instance-specific currencies")
] -%}

{% set wvwArgs = [
  ("info", "Info about a world. If none is provided, defaults to account's world"),
  ("worlds", "List all worlds"),
  ("populationtrack", "Receive a notification when the world is no longer full")
] -%}

{% set bossnotifierArgs = [
  ("chanel", "Sets the channel to send the bosses to"),
  ("toggle", "Toggles posting upcoming bosses")
] -%}

{% set dailynotifierArgs = [
  ("channel", "Sets the channel to send the dailies to"),
  ("toggle", "Toggles posting dailies at server reset"),
  ("autodelete", "Toggles autodeleting last day's daily notification"),
  ("autopin", "Toggles autopinning daily notifications"),
  ("categories", "Choose which categories to display on daily notifications")
] -%}

{%set updatenotifierArgs = [
  ("channel", "Sets the channel to send the update announcement"),
  ("toggle", "Toggles sending game update notifications")
] -%}

{%set newsfeedArgs = [
  ("channel", "Sets the channel to send the news to"),
  ("toggle", "Toggles posting news")
] -%}

{% macro cmd_main_expand(name, description, toggleid, cmdargs) -%}
  <li class="list-group-item border border-danger">
    <h4><a class="btn btn-outline-dark btn-lg" data-toggle="collapse"
      href="#{{ toggleid }}" aria-expanded="false" aria-controls="{{ toggleid }}">{{ name }}</a></h4>
    <small>{{ description }}</small>
    <div class="collapse" id="{{ toggleid }}">
      {% for arg_name, arg_description in cmdargs %}
        {{ cmd_arg(arg_name, arg_description) }}
      {% endfor %}
    </div>
  </li>
{%- endmacro %}

{% macro cmd_main(name, description) -%}
  <li class="list-group-item border border-danger">
    <h4>{{name}}</h4>
    <small>{{description}}</small>
  </li>
{%- endmacro %}

{% macro cmd_arg(arg_name, arg_description) -%}
  <hr class="m-1">
    <p class="font-weight-bold mb-1">{{ arg_name }}</p>
    <small>{{ arg_description }}</small>
{%- endmacro %}

<div class="container text-center">
  <hr>
  <h3>The default prefix is $</h3>
  <small class="font-italic">Use commands with multiple options with a space in between: $key add</small>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        {{ cmd_main("account", "Information about your account") }}
        {{ cmd_main("achievementinfo", "Display achievement information and your completion status")}}
        {{ cmd_main("bosses", "Lists all the bosses you haven't killed this week") }}

        {{ cmd_main_expand("botnews", "Automatically sends news about new features", "collapseBotnews", botnewsArgs) }}

        {{ cmd_main("cats", "Displays cats you haven't collected") }}
        {{ cmd_main("changelog", "List of recent changes to the bot") }}

        {{ cmd_main_expand("character", "Character related commands", "collapseCharacter", characterArgs) }}

        {{ cmd_main("chatcode", "Generate a chat code") }}

        {{ cmd_main_expand("daily", "Commands showing daily things", "collapseDaily", dailyArgs) }}

        {{ cmd_main("dulfy", "Search dulfy.net") }}
        {{ cmd_main("et", "The event timer, Shows upcoming world bosses") }}

        {{ cmd_main_expand("gem", "Commands related to gems", "collapseGem", gemArgs) }}

        {{ cmd_main_expand("guild", "Guild related commands", "collapseGuild", guildArgs) }}

        {{ cmd_main_expand("guildsync", "Guild synchronization related commands", "collapseGuildsync", guildsyncArgs) }}

       </ul>
    </div>
    <div class="col">
      <ul class="list-group">

        {{ cmd_main("gw2wiki", "Search the Guild Wars 2 wiki") }}
        {{ cmd_main("hotet", "The HoT event timer. Shows phases of HoT maps") }}

        {{ cmd_main_expand("key", "Commands related to API keys", "collapseKey", keyArgs) }}

        {{ cmd_main("prefix", "Sets bot's prefixes for this server") }}

        {{ cmd_main_expand("pvp", "Commands related to PvP", "collapsePvp", pvpArgs) }}

        {{ cmd_main("search", "Search your account for items") }}

        {{ cmd_main_expand("server", "Commands for server management", "collapseServer", serverArgs) }}

        {{ cmd_main("skillinfo", "Information about a given skill") }}

        {{ cmd_main_expand("tp", "Commands related to Trading Post", "collapseTp", tpArgs ) }}

        {{ cmd_main_expand("wallet", "Commands related to wallet", "collapseWallet", walletArgs) }}

        {{ cmd_main_expand("wvw", "Commands related to wvw", "collapseWvw", wvwArgs) }}

        {{ cmd_main("li", "Shows how many Legendary Insights you have") }}
        {{ cmd_main("help", "Shows the commands menu") }}

      </ul>
    </div>
  </div>
  <hr>
  <h3>Notifiers</h3>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        {{ cmd_main_expand("bossnotifier", "Sends the next two bosses every 15 minutes to a channel",
         "collapseBossnotifier", bossnotifierArgs) }}

         {{ cmd_main_expand("dailynotifier", "Sends a list of dailies to specified channel",
          "collapseDailynotifier", dailynotifierArgs ) }}

      </ul>
    </div>
    <div class="col">
      <ul class="list-group">

        {{ cmd_main_expand("updatenotifier", "For setting up notifcations whenever the game updates",
         "collapseUpdatenotifier", updatenotifierArgs) }}

        {{ cmd_main_expand("newsfeed", "For setting up automatic guildwars2.com news feed", "collapseNewsfeed", newsfeedArgs) }}

      </ul>
    </div>
  </div>
  <hr>
  <h3>Meta & Stats</h3>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        {{ cmd_main("info", "Display bot's info") }}
        {{ cmd_main("ping", "Pong!") }}
        {{ cmd_main("uptime", "Display bot's uptime") }}

      </ul>
    </div>
  </div>
</div>

{% endblock %}
