{% extends "layout.html"%} 

{% set active_page = "F.A.Q" %}

{% block body %}
  <main class="faq">
    <h3>How do I use the bot?</h3>
    <p>After the bot has been added to the server using <a href="https://discordapp.com/oauth2/authorize?client_id=310050883100737536&scope=bot&permissions=27648">this link</a>,
      you can access the commands using $ prefix. Type $help for list of all commands. Server admins can change the prefix
      to something else using $prefix.</p>
    <h3>How do I setup game update notifications?</h3>
    <p>First, you must have the "manage server" permission. Provided you have that, first point the bot to the channel where
      it'll post announcements, using $updatenotifier channel. After that, enable it using $updatenotifier toggle on. Make
      sure the bot has permissions to talk in that channel.</p>
    <h3>Does the bot work in DMs?</h3>
    <p>Yes. API keys are cross-server too, if you're in multiple servers with the bot.</p>
  </main>
</div>
{% endblock %}