<footer>
    <p>©2017 - GW2Bot created by Maselko.8142, Website created by Penemue.6827&nbsp; &nbsp;-</p>
    <p>&nbsp; &nbsp; If you want to help with development, see <a href="https://github.com/Maselkov/GW2Bot">here for the bot </a>and
      <a href="https://github.com/pen-mb/gw2bot ">here for the website.</a> Thanks to all contributors and to Twentysix for
      <a href="https://github.com/Twentysix26/Red-DiscordBot">Red.</a></p>
    <p> Guild Wars 2 Logo and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation.</p>
  </footer>