{% extends "layout.html"%} 

{% set active_page = "Home" %}

{% block body %}
<span id="apistatus" title="If API is offline, the bot will not function properly">Checking API... ☐</span>
<img id="loader" src="/static/img/loading.svg">
<div id="wrapper">
<main class="home">
  <p>Bring the world of Tyria into your Discord server</p>
  <img alt="A .gif demonstration of the bot" src="/static/img/botdemo.gif">
  <p class="invite">
    <a href={{invite_link}}>Invite!</a>
  </p>
</main>
</div>
{% endblock %}