<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
  <meta charset="utf-8">
  <!-- If IE use the latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Muhammed Bacalan">
  <meta name="description" content="GW2Bot is a powerful, Guild Wars 2 bot for Discord!">
  <title>GW2Bot - A Discord Bot</title>
</head>

{% set navigation_bar = [
  ('/', 'Home', 'Home'),
  ('/commands', 'Commands', 'Commands'),
  ('/faq', 'F.A.Q', 'F.A.Q')
  ] -%}

{% set active_page = active_page|default('Home') -%}

<body>
  <div>
    <img class="img-fluid" alt="Banner with GW2Bot Logo" src="/static/img/banner.png">
  </div>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-toggleable-md">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
      <ul class="navbar-nav">
        {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="nav-item active" {% endif %}>
          <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href={{support_link}} title="Join GW2Bot's Discord server">Support</a>
        </li>
      </ul>
    </div>
    <div class="navbar-right mr-2">
      <ul class="navbar-nav"
        <li class="nav-item">
            <a class="nav-link text-info" href="/login">Login</a>
          </li>
      </ul>
    </div>
  </nav>
  <p class="text-right"> <span class=" mr-2" id="apistatus" title="If API is offline, the bot will not function properly">Checking API... ☐</span></p>

  {% block body %} 
  {% endblock %}
  
  <p class="pusher"></p>

<footer class="footer d-none d-sm-block d-md-block d-lg-block d-xl-block">
  <p>©2017 - GW2Bot created by Maselko.8142, Website created by Penemue.6827&nbsp; &nbsp;-</p>
  <p>&nbsp; &nbsp; If you want to help with development, see <a class="text-info" href="https://github.com/Maselkov/GW2Bot">here for the bot </a>and
    <a class="text-info" href="https://github.com/pen-mb/gw2bot ">here for the website.</a> Thanks to all contributors and
    to Twentysix for
    <a class="text-info" href="https://github.com/Twentysix26/Red-DiscordBot">Red.</a></p>
  <p> Guild Wars 2 Logo and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation.</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="static/js/lib/jquery-3.2.1.min.js"><\/script>');
</script>
<script src="/static/js/apicheck.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
  crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>