/* COMMANDS */

li.desc {
  list-style-type: none;
}

details {
  background-color: #463A3A;
  color: white;
  outline: none;

  [open] summary {
    background: transparent;
    background-color: #C32319;
    color: black;
  }
}

summary {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s;

  :hover {
    background-color: #C32319;
  }
}

details summary::-moz-details-marker {
  /* Hide the default marker for CHROME. */
  display: none;
}

details > summary:first-of-type {
  /*Hide the default marker for FIREFOX */
  list-style-type: none;
}

/* STICKY FOOTER */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 10px; /* Vertically center the text there */
  background-color: #343A40;
}

footer p {
  display: inline-block;
  font-size: 10.5px;
  color: white;
  line-height: 2;
  margin: -1px;
  margin-top: 4px;
}

p.pusher {
  padding-bottom: 10px;
}
