html {
  font-family: 'ABeeZee', sans-serif;
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  /* The height and min-height values are needed for footer.faq */
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

main.home,
main.faq,
main.commands {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 55px;
  /* Height of footer */
}

img.banner {
  width: 100%;
  height: 50%;
}

/* NAVIGATON BAR */

nav ul {
  list-style-type: none;
  /*this is to remove the dots in list items*/
  margin: 0;
  padding: 6px;
  overflow: hidden;
  /*this makes the list to be a fullwidth navbar*/
  background-color: #463A3A;
}

nav a {
  color: white;
  padding: 25px 25px;
  text-decoration: none;
  transition: background-color 0.5s;
}

nav li {
  display: inline;
}

nav li a:hover {
  background-color: gray;
}

nav li a.active {
  background-color: white;
  color: black;
}

/* CONTENT */

img#loader {
  width: 5%;
  height: 5%;
  float: right;
  margin-top: 8px;
  }

span#apistatus {
  float: right;
  font-size: 14px;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: -15px;
}

main.home > p {
  font-size: 28px;
}

main.home > img {
  width: 75%;
  height: 75%;
  float: left;
  margin-bottom: 25px;
  border-radius: 5px;
}

p.invite {
  margin-top: 210px;
  margin-bottom: 15px;
  float: right;
}

p.invite a {
  background-color: #C32319;
  color: white;
  padding: 10px 25px;
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  border: 1px solid black;
  text-decoration: none;
  transition: background-color 0.5s;
}

p.invite a:hover {
  background-color: red;
}

p.end {
  margin-bottom: 25px;
}

/* COMMANDS */

.column {
  width: 50%;
  float: left;
}

.row {
  clear: both;
}

h3.category {
  padding-top: 30px;
}

dt {
  margin-left: 10px;
  margin-bottom: 2px;
}

dd {
  margin-bottom: 10px;
  font-style: italic;
}

li.desc {
  list-style-type: none;
}

details {
  background-color: #463A3A;
  color: white;
  outline: none;
}

details[open] summary {
  background: transparent;
  background-color: #C32319;
  color: black;
}

summary {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s;
}

summary:hover {
  background-color: #C32319;
}

details summary::-moz-details-marker {
  /* Hide the default marker for CHROME. */
  display: none;
}

details > summary:first-of-type {
  /*Hide the default marker for FIREFOX */
  list-style-type: none;
}

summary > dt::after {
  /* Adds a downwards arrow to every <dt> that is a direct child of <summary> */
  content: " ↴"
}

/* FOOTER */

footer {
  /* This method works with floating content */
    clear: both;
    position: relative;
    height: 3em;
    margin-top: -3em;
    background-color: #463A3A;
}

footer.faq {
  /* This method works with static content */
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #463A3A;
}

footer p {
  text-align: right;
  font-size: 10.5px;
  color: white;
  line-height: 2;
  display: inline-block;
  margin: -5px;
  margin-top: 3px;
}

footer a {
  color: white;
}