html {
    font-family: 'ABeeZee', sans-serif;
    background-color: white;
    margin: auto;
    padding: 10px 10px;
}

main.home {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

img.header {
    width: 100%;
    height: 50%; 
}

/* NAVBAR */

ul {
    text-align: center;
    list-style-type: none; /*this is to remove the dots in list items*/
    margin: 0;
    padding: 8px;
    overflow: hidden; /*this makes the list to be a fullwidth navbar*/
    background-color: #463A3A;
}

a.navbar {
    color: white;
    padding: 25px 25px;
    text-decoration: none;
}

li {
    display: inline;
}

li a:hover {
    background-color: gray;
}

li a.active {
    background-color: white;
    color: black;
}
/* CONTENT */

h1, h2, h3 {
    text-align: center;
}

p {
    text-align: center;
}

.maininfo {
    padding-top: 40px;
}

dl {
    text-align: center;
}
dd {
    padding-bottom: 10px;
}
.row {
    clear:both
}

.column {
    width: 50%;
    float: left;
}

.invite {
    background-color: #C32319;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    border: 1px solid black;
    text-decoration: none;
}

.invite:hover {

}