
html {
    font-family: 'ABeeZee', sans-serif;
    background-color: white;
    height: 101%;
    margin: auto;
    text-align: center;
}

main.home, main.faq {
    width: 960px;
    margin: 0 auto;
}

img.header {
    width: 100%;
    height: 50%; 
}
/* NAVBAR */

ul {
    list-style-type: none; /*this is to remove the dots in list items*/
    margin: 0;
    padding: 6px;
    overflow: hidden; /*this makes the list to be a fullwidth navbar*/
    background-color: #463A3A;
}

a.navbar {
    color: white;
    padding: 25px 25px;
    text-decoration: none;
    transition: background-color 0.5s;
}

li {
    display: inline;
}

li a:hover {
    background-color: gray;
}

li a.active {
    background-color: white;
    color: black;
}
/* CONTENT */

.maininfo {
    font-size: 28px;
}


dt {
    padding-left: 150px;
    padding-bottom: 2px;
    text-align: left;
}
dd {
    padding-bottom: 10px;
    padding-left: 150px;
    text-align: left;
    font-style: italic;
}
.row {
    clear:both
}

.column {
    width: 50%;
    float: left;
}

p.invite {
    padding-top: 10px;
    padding-bottom: 15px;
}

a.invite {
    background-color: #C32319;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    border: 1px solid black;
    text-decoration: none;
    transition: background-color 0.5s;
}

a.invite:hover {
    background-color: red;
}